doctype strict
html
    html
        title Edit Profile
        link( rel="styleSheet",
        type = "text/css",
        href = "/css/styles.css")

        body

            div( class = "container width700" )

                div( class = "panel panel-primary" )

                    div( class = "panel-heading" )

                        h1( class = "panel-title") Edit Profile

                    div( class = "panel-body" )

                        - // name fields
                        div( class = "form-group")
                            div( class = "nameField pull-left" )

                                label( for = "firstNameField" ) First Name

                                input( type = "text", class = "form-control input-lg", placeholder = "First Name", name = "firstNameId" )

                            div( class = "nameField pull-right" )

                                label( for = "lastNameField" ) Last Name

                                input( type = "text", class = "form-control input-lg", placeholder = "Last Name", name = "lastNameId" )

                            div( class = "clearfix")

                        - // edit profile form
                        form( action = "/settings/profile", method = "post" )

                            div( class = "form-group" )

                                input(type = "submit", class = "btn btn-primary", value = "submit" )